.centre {
  text-align: center;
}

.jumbotron-special {
  width:100%;
  height: 10%;
  padding:0px;
  margin:0px;

}

.jumbotron-unique {
  width:50%;
  height: 100%;
  padding:0px;
  margin:auto;  

}