<br></br>
<div class="jumbotron">
<form role="form" action="/add_bathroom" method="POST">
  <div class="form-group">
    <label for="store name">Store Name</label>
    <input class="form-control" type="text" name="store_name">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input class="form-control" type="text" name="address">
  </div>
  <label>Family Friendly</label>
  <input type="hidden" name="family_friendly"> 
  <select name="family_friendly" class="form-control rating_size">
      <option value="YES">YES</option>
      <option value="NO">NO</option>
  </select>
  <label>Wheelchair Accessibility</label>
  <input type="hidden" name="wheelchair_access"> 
  <select name="wheelchair_access" class="form-control rating_size">
      <option value="YES">YES</option>
      <option value="NO">NO</option>
  </select>
  <label> Bathroom Rating </label>
  <%= erb :'/ratings', { locals: { bathroom: @bathroom }} %>
  <input class="btn btn-info" type="submit" value="Submit">
</form>
</div>


