<h1></h1>

<form method="post" action="/detect_location">
  <div>
    <label>Detect Location</label>
  </div>
  <div>
    <input type="submit" value="submit">
  </div>
</form>

<form method="post" action="/search_location">
  <div>
    <label>Search A Location</label>
  <input type="text" name="search">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<% if @user && @user.errors.any? %>
  <div>
      <strong>Some issues with submition, please fix it:</strong>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>