<h1></h1>

<form method="post" action="/">

  <div>
    <input type="submit" value="Detect Location">
  </div>
</form>

<form method="post" action="/">
  <div>
    <label>Search A Location</label>
  <input type="text" name="address">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>