<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script src="jquery-1.12.2.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1"><meta name="viewport" content="width=device-width, initial-scale=1">
  <title>I Have To Go</title>
</head>
<body class="container">
<br></br>
  <header>
    <div class="jumbotron jumbotron-special">
      <div class="centre">
        <h1 class="text-muted">I Have To Go</h1>
      </div>
      <% if current_user %>
        <p>User: <%= current_user.username %></p>
        <p>
        <a href="/add_bathroom">New Bathroom</a>
        </p>
        <p>
        <a href="/">New Search</a>
        </p>
        <p>
        <a href="/logout">Logout</a>
        </p>
      <% else %>    
        <p>
        <a href="/login">Login</a>
        </p>
        <p>
        <a href="/signup">Sign Up</a>
        </p>
      <% end %> 
    </div>
  </header> 
</div>
<br></br>
<div class="jumbotron vertical-centre jumbotron-unique">
    <div class="centre">
      <%= yield %>
    </div>
</div>
</body>
</html>

<script>
$(function(){

$(window).bind("resize",function(){
    console.log($(this).width())
    if($(this).width() <1000){
    $('div').removeClass('jumbotron-unique')
    }
    else{
    $('div').addClass('jumbotron-unique')
    }
})
})
</script>
