<div class="rating_size">
<select name="rating" class="form-control" >
  <option value="5">5 Stars</option>
  <option value="4">4 Stars</option>
  <option value="3">3 Stars</option>
  <option value="2">2 Stars</option> 
  <option value="1">1 Star</option>
</select>
</div>